LuKuangService/Connected Services/fileService/WebServiceFile_v21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DrawPicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="r_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DrawPictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DrawPictureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendImgToELD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="myTDeviceParam" type="tns:MyTDeviceParam" />
            <s:element minOccurs="0" maxOccurs="1" name="arrEldRegion" type="tns:ArrayOfELDRegion" />
            <s:element minOccurs="0" maxOccurs="1" name="arrleaf" type="tns:ArrayOfLeafObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyTDeviceParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="devType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="locPort" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rmtHost" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="rmtPort" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dstAddr" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="displayType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="r_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="r_name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfELDRegion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ELDRegion" nillable="true" type="tns:ELDRegion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ELDRegion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Region_Index" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ELD_IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="road_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="border" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLeafObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeafObj" nillable="true" type="tns:LeafObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LeafObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Next_time" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayObjList" type="tns:ArrayOfDisplayObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDisplayObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DisplayObj" nillable="true" type="tns:DisplayObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DisplayObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ObjTypeIndex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TextPro" type="tns:TextPro" />
          <s:element minOccurs="0" maxOccurs="1" name="PicturePro" type="tns:PicturePro" />
          <s:element minOccurs="0" maxOccurs="1" name="DateTimePro" type="tns:DateTimePro" />
          <s:element minOccurs="0" maxOccurs="1" name="ClockPro" type="tns:ClockPro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TextPro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="alignment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transparent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="border" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fontname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fontsize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fontcolor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fontstyle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="wordwrap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="inmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="inspeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="outmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="outspeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stopmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stopspeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stoptime" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PicturePro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="alignment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transparent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="border" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="inmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="inspeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="outmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="outspeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stopmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stopspeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stoptime" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimePro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="alignment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transparent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="border" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="fontname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fontsize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fontcolor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fontstyle" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="year_offset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="month_offset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="day_offset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="sec_offset" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClockPro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transparent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="border" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bkcolor" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="bordercolor" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="borderwidth" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="bordershape" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dotradius" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="adotwidth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="adotcolor" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="bdotwidth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="bdotcolor" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="hourwidth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="hourcolor" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="minutewidth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="minutecolor" type="s:unsignedShort" />
          <s:element minOccurs="1" maxOccurs="1" name="secondwidth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="secondcolor" type="s:unsignedShort" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendImgToELDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendImgToELDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="DrawPictureSoapIn">
    <wsdl:part name="parameters" element="tns:DrawPicture" />
  </wsdl:message>
  <wsdl:message name="DrawPictureSoapOut">
    <wsdl:part name="parameters" element="tns:DrawPictureResponse" />
  </wsdl:message>
  <wsdl:message name="SendImgToELDSoapIn">
    <wsdl:part name="parameters" element="tns:SendImgToELD" />
  </wsdl:message>
  <wsdl:message name="SendImgToELDSoapOut">
    <wsdl:part name="parameters" element="tns:SendImgToELDResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpGetIn">
    <wsdl:part name="fileBytes" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DrawPictureHttpGetIn">
    <wsdl:part name="r_id" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DrawPictureHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpPostIn">
    <wsdl:part name="fileBytes" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DrawPictureHttpPostIn">
    <wsdl:part name="r_id" type="s:string" />
    <wsdl:part name="filename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DrawPictureHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceFileSoap">
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传文件到远程服务器.fileBytes：文件流；fileName：文件名;</wsdl:documentation>
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成路况图片.r_id：编号；fileName：文件名;</wsdl:documentation>
      <wsdl:input message="tns:DrawPictureSoapIn" />
      <wsdl:output message="tns:DrawPictureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendImgToELD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">向显示器发送图片.fileName：图片名称；MyTDeviceParam：MyTDeviceParam;。。。</wsdl:documentation>
      <wsdl:input message="tns:SendImgToELDSoapIn" />
      <wsdl:output message="tns:SendImgToELDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceFileHttpGet">
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传文件到远程服务器.fileBytes：文件流；fileName：文件名;</wsdl:documentation>
      <wsdl:input message="tns:UploadFileHttpGetIn" />
      <wsdl:output message="tns:UploadFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成路况图片.r_id：编号；fileName：文件名;</wsdl:documentation>
      <wsdl:input message="tns:DrawPictureHttpGetIn" />
      <wsdl:output message="tns:DrawPictureHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceFileHttpPost">
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传文件到远程服务器.fileBytes：文件流；fileName：文件名;</wsdl:documentation>
      <wsdl:input message="tns:UploadFileHttpPostIn" />
      <wsdl:output message="tns:UploadFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成路况图片.r_id：编号；fileName：文件名;</wsdl:documentation>
      <wsdl:input message="tns:DrawPictureHttpPostIn" />
      <wsdl:output message="tns:DrawPictureHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceFileSoap" type="tns:WebServiceFileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <soap:operation soapAction="http://tempuri.org/DrawPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendImgToELD">
      <soap:operation soapAction="http://tempuri.org/SendImgToELD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFileSoap12" type="tns:WebServiceFileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <soap12:operation soapAction="http://tempuri.org/DrawPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendImgToELD">
      <soap12:operation soapAction="http://tempuri.org/SendImgToELD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFileHttpGet" type="tns:WebServiceFileHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UploadFile">
      <http:operation location="/UploadFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <http:operation location="/DrawPicture" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFileHttpPost" type="tns:WebServiceFileHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UploadFile">
      <http:operation location="/UploadFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawPicture">
      <http:operation location="/DrawPicture" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceFile">
    <wsdl:port name="WebServiceFileSoap" binding="tns:WebServiceFileSoap">
      <soap:address location="http://192.168.0.11:8062/WebServiceFile_v2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFileSoap12" binding="tns:WebServiceFileSoap12">
      <soap12:address location="http://192.168.0.11:8062/WebServiceFile_v2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFileHttpGet" binding="tns:WebServiceFileHttpGet">
      <http:address location="http://192.168.0.11:8062/WebServiceFile_v2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFileHttpPost" binding="tns:WebServiceFileHttpPost">
      <http:address location="http://192.168.0.11:8062/WebServiceFile_v2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>